<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> ERROR- Tuttifrutti.shop </title>
  <link rel="stylesheet" href="homestyle.css">

</head>
<body>
  <header>
    <form id="Idioma">
        <label for="language-selector">Idioma</label>
        <select id="language-selector"> 
          <option value="en-EN">english</option>
          <option selected="selected" value="es-ES" >español</option>
        </select>
    </form>
    <a class="button" href="signin"> iniciar sesion</a>     
    <button> menu </button>
    <nav class="site-navigation">
       <ul>
        <li> <a href="panties">Panties</a> </li>
        <li> <a href="bras">Bras</a></li>
        <li> <a href="swimsuit">Swimsuit</a></li>
        <li> <a href="ofertas">OFERTAS!</a></li>
        <li> <a href="usuario">Usuario</a></li>
        <li> <a href="contacto">Contacto</a></li>
        <li> <a href="legal">Legal</a></li>
       </ul>
     </nav>
    <a href="home"><img src="logohome.png" alt="logo tuttifrutti.shop"/> </a>
    <button> <img src="car.png" alt="carrito" />  </button>
  </header>
   <main>
    <img class="producto" src="chicaerror.png" />
    <button> <img src="search.png" alt="lupa"> </button>
    <input type="text" name="search" />   
    <h2> ERROR </h2>
    <p>Lo sentimos, tu búsqueda no ha arrojado resultados.</p>
     </nav>
  </main>
  <footer>
    <button> <img nav="facebook"> Facebook </button>
    <button> <img nav="instagram"> Instagram  </button>
    <button> <img nav="instagram"> Twitter  </button>  
    <button nav="contacto"> Contacto </button> 
      <address> Copyright Tutti Frutti 2019 </address>
    <button nav="legal"> Legal </button>   
  </footer>
  <script type="text/javascript" scr="homejs.js"></script>
</body>
</html>
   