<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> HOME - Tuttifrutti.shop </title>
    <link rel="stylesheet" href="css/homestyle.css">
    <link rel="stylesheet" href="css/homeforms.css">
    <link rel="stylesheet" href="css/homeefects.css">
</head>

<body>
    <header>
        <form id="Idioma">
            <label for="language-selector">Idioma</label>
            <select id="language-selector">
                <option value="en-EN">english</option>
                <option selected="selected" value="es-ES">español</option>
            </select>
        </form>
        <a class="button" href="signin"> iniciar sesion</a>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="panties">
                        <li>Panties</li>
                    </a>
                    <a href="bras">
                        <li>Bras</li>
                    </a>
                    <a href="swimsuit">
                        <li>Swimsuit</li>
                    </a>
                    <a href="ofertas">
                        <li class="oferta">OFERTAS!</li>
                    </a>
                    <a href="usuario">
                        <li class="usuario">Usuario</li>
                    </a>
                    <a href="quienesSomos">
                        <li class= "datosWeb">Quienes somos</li>
                    </a>
                    <a href="contacto">
                        <li class="datosWeb">Contacto</li>
                    </a>
                    <a href="legal">
                        <li class="datosWeb">Legal</li>
                    </a>
                </ul>
            </div>
        </nav>
        <a class="logo"  href="home"><img id="logo" src="image/logohome.png" alt="logo tuttifrutti.shop" />
        </a>
        <a class ="carro" href="compras"> <img  src="image/car.png" alt="carrito" /> </a>
    </header>
    <main>
        <img class="producto" src="image/chica1.png" />
        <button> <img src="image/search.png" alt="lupa"> </button>
        <input type="text" name="image/search" />
        <h2> Looking For Your Best Side </h2>
        <nav class="site-navigation">
            <ul>
                <li> <a href="panties">Panties</a> </li>
                <li> <a href="bras">Bras</a></li>
                <li> <a href="swimsuit">Swimsuit</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <button> <img src="image/f.png" nav="facebook" width=20 length=20 nav="facebook" alt="Facebook"> </button>
        <button> <img src="image/i.png" width=20 length=20 nav="instagram" alt="Instagram"> </button>
        <button> <img src="image/t.png" nav="twitter" width=20 length=20 nav="twitter" alt="twitter"> </button>
        <button nav="contacto"> Contacto </button>
        <address> Copyright Tutti Frutti 2019 </address>
        <button nav="legal"> Legal </button>
    </footer>
    <script src="js/homejs.js"></script>
</body>

</html>